<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfactory"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FactoryActivity"
            android:label="@string/title_activity_factory" >         
        </activity>       
        <activity
            android:name=".MonitorActivity"
            android:label="@string/title_activity_monitor" >
        </activity>
        <activity
            android:name=".RepairActivity"
            android:label="@string/title_activity_repair" >
        </activity>
        <activity
            android:name=".ShowActivity"
            android:label="@string/title_activity_show" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".Detail2Activity"
            android:label="@string/title_activity_detail2" >
        </activity>
        <activity
            android:name=".Detail3Activity"
            android:label="@string/title_activity_detail3" >
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".AboutmeActivity"
            android:label="@string/title_activity_aboutme" >
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
    </application>

</manifest>
